@import url("https://rsms.me/inter/inter.css");
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  font-family: "Inter var", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #ddd;
  /* background: #12071f; */
  background: #000;
}

a {
  pointer-events: all;
  color: #ddd;
  text-decoration: none;
}

svg {
  fill: #ddd;
}

/* .btn {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 600px;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.fill-center {
  left: 44%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  height: 50px;
  width: 180px;
  padding: 0px;
  outline: none;
  overflow: hidden;
  transition: color 0.3s ease-out 0.1s;
  background: transparent;
}

.fill-center::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  text-align: center;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -4.7em;
  transition: box-shadow 0.25s ease-out 0s;
  z-index: -1;
}

.fill-center:hover {
  color: rgb(255, 255, 255);
  background: transparent;
}

.fill-center--blue {
  border: 2px solid rgb(61, 135, 255);
  color: rgb(61, 135, 255);
}

.fill-center--blue:hover::before {
  box-shadow: black 0px 0px 0px 11em inset;
} */














/* HERO OVERLAY */

.hero--wrapper {
  position: absolute; 
  top: 0 ;
  left: 0;
  height: 100%; 
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.hero {
  position: relative;
  top: 55%;
  height: 250px;
  /* left: 17%; */
  z-index: 2;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  /* border: 1px solid red; */
}

.hero--title {
  margin: 0;
  padding: 0;
  font-size: 7.5vw;
  font-weight: 500;
  letter-spacing: -0.02em;
  background: linear-gradient(to right, #3272F4 0%, #CC2DD7 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;

}

.hero--subtitle {
  width: 90%;
  line-height: 40px;
  /* margin-top: 15px; */
  text-align: center;
  color: white !important;
  font-size: 1.5em;
}


.hero--txt--html {
  background: linear-gradient(to right, #3272F4 0%, #CC2DD7 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.btn {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: 82.5%;
  left: 42.1%;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.btn > div {
  position: relative;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.btn > div > a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}
.btn > div > a::before, .btn > div > a::after {
  background-color: #000;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 180px;
  height: 55px;
  position: absolute;
  /* border: 2px solid rgb(255, 255, 255); */
  border: 2px solid rgb(61, 135, 255);
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
}
.btn > div > a::before {
  border: 2px solid rgb(61, 135, 255);
  color: rgb(61, 135, 255);

  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}

.btn > div > a::after {
  color: #CC2DD7;
  border: 2px solid #CC2DD7;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
.btn > div > a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);
  transform: translateZ(-25px) rotateX(-90deg);
  cursor: pointer; 
}


















.lessonSelection--container {
  /* position: absolute;  */
  /* top: 20%;
  left: 50%; */
  width: 300px;
  height: 450px;
  border-radius: 10px;
  /* backdrop-filter: blur(1.5px); */
  /* background-color: rgba(1, 117, 254, 0.5); */
  border: 1px solid ;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.55);
}

@keyframes lessonSelection--animation {
  from {
    transform: translateX(-35em);
  }
  to {
    transform: translateX(0em);
  }
}
.annotation {
  cursor: pointer;
  outline: none;
  border: none;
  width: 30px;
  font-size: 4px;
  font-weight: 700;
  /* background: #3272F4; */
  border: .1px solid #3272F4;;
  background: black;
  color: #3272F4;
  padding: 2px;
  border-radius: 10px;
  letter-spacing: .7px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
}


.lessonSelection-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 100px;
}

.lessonSelection--title {
  /* position: relative; */
  /* -webkit-text-stroke:1px white;
  -webkit-text-fill-color: black; */
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 300;
  font-family: Quicksand;
  letter-spacing: 0.05em;
  height: 100px; 
  overflow: hidden;
  display: block;
}

.card--wrapper
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.frame {
  width: 300px;
  height: 450px;
  transition: transform 200ms;
  z-index: 2;
}
.frame:hover {
  transform: scale3d(1.25, 1.25, 1.25);
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  /* background-image: url("https://djjjk9bjm164h.cloudfront.net/background3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* box-shadow: 0 0 10px 2px rgba(248, 248, 248, 0.689); */
  position: relative;
  transition-duration: 250ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  border: 1px solid white;
}

.light {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

/*# sourceMappingURL=styles.css.map */




/* LESSON 1 */

.lesson1--wrapper 
{
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: 2;
  width: 100%; 
  height: 100%;

  padding: 12.5px;
  /* border: solid 1px white; */
}

.lesson1--header 
{
  /* position: absolute; */
  z-index: 2;
  width: 100%;
  height: 10%;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  /* border: solid 1px red; */
}

.lesson1--header > img 
{
  position: relative; 
  right: 30%;
  width: 2.5%; 
  height: auto;
  cursor: pointer;
  /* margin-right: 50%; */
}

.lesson1--header > img:hover 
{
  box-shadow: 0 0 10px 5px #f07167;
}

.lesson1--header > h1
{
  font-family: Quicksand-bold;
  color: #f07167;
  font-size: 65px;
  text-transform: uppercase;
  animation: paragraphAnimation 1.2s ease-out 1 both; 
  animation-delay: .75s;
  margin-top: 1%;
  /* width: 50% */
}

.lesson1--main
{
  width: 100%;
  height: 80%;
  /* border: 2px solid blue; */
  /* z-index: 2; */
}

.lesson1--footer 
{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.animation
{
    animation: paragraphAnimation .01s ease-out 1 both; 
    /* animation-delay: .5s; */
}

@keyframes paragraphAnimation
{
    from
    {
        opacity: 0;
        transform: perspective(500px) translate3d(0, 150px, 0)
    }
    to
    {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}


.btn2 {
  font-size: 1.1rem;
  font-weight: bold;
  /* position: absolute; */
  /* top: 82%;
  left: 43.5%; */
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.btn2 > div {
  position: relative;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.btn2 > div > a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}
.btn2 > div > a::before, .btn2 > div > a::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 180px;
  height: 55px;
  position: absolute;
  /* border: 2px solid rgb(61, 135, 255); */
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
}
.btn2 > div > a::before {
  border: 2px solid rgb(255, 255, 255);
  background-color: #000;
  color: 2px solid rgb(255, 255, 255);
  /* color: rgb(61, 135, 255); */
  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}
.btn2 > div > a::after {
  background-color: black;
  border: 2px solid #f07167;
  color: #f07167;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
.btn2 > div > a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);
  transform: translateZ(-25px) rotateX(-90deg);
  cursor: pointer; 
}



.homeBtn--wrapper {
  position: absolute;
  padding: 0;
  top: 15px;
  right: 20px;
}

.homeBtn {
  list-style: none;
}

.homeBtn--icon {  
  display: inline-flex;
  font-size: 3rem;  
  text-decoration: none;  
  color: black;
  width: 3.5rem;
  height: 3.5rem;   
  transition: .5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.homeBtn--icon:hover {
  /* color: #fff; */
}

.homeBtn--icon i {
  margin: auto;  
  z-index: 20;  
  transform: scale(.4);
}
 

.homeBtn--icon::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  /* background: rgb(30, 99, 209); */
  /* background: #3272F4; */
  background: #f07167;
  z-index: 0;
  transform: scale(.8);
  transition: 0.36s cubic-bezier(.95, .32, .37, 1.21);
}
  
.homeBtn--icon:hover::before {  
  transform: scale(5);
}

.homeBtn--icon:hover::after {  
  transform: scale(2);
}

.homeBtn a:hover:before { 
  animation: homeColorAn 5s ease-out 10 both; 

}


.backBtn--wrapper {
  position: absolute;
  padding: 0;
  top: 15px;
  left: 20px;
}

.backBtn {
  list-style: none;
}

.backBtn--icon {  
  display: inline-flex;
  font-size: 3rem;  
  text-decoration: none;  
  color: black;
  width: 3.5rem;
  height: 3.5rem;   
  transition: .5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.backBtn--icon:hover {
  /* color: #fff; */
}

.backBtn--icon i {
  margin: auto;  
  z-index: 20;  
  transform: scale(.4);
}
 

.backBtn--icon::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  /* background: rgb(30, 99, 209); */
  /* background: #3272F4; */
  background: #f07167;
  z-index: 0;
  transform: scale(.8);
  transition: 0.36s cubic-bezier(.95, .32, .37, 1.21);
}
  
.backBtn--icon:hover::before {  
  transform: scale(5);
}

.backBtn--icon:hover::after {  
  transform: scale(2);
}

.backBtn a:hover:before { 
  animation: homeColorAn 5s ease-out 10 both; 
  /* background: transparent; */
  /* background: #f07167; */
  /* background: rgb(61, 135, 255);  */
  /* background: transparent; */
  /* box-shadow: 0 0 1px 1px rgb(61, 135, 255)); */
  /* background: transparent; */
  /* backdrop-filter: blur(10px); */
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25); */
  /* border: 1px solid rgba(61, 135, 255);  */
}



@keyframes homeColorAn
{
  0%
  {
    background-color: #3272F4;
    /* border: 1.5px solid #3272F4; */
  }
  50%
  {
    background-color: #CC2DD7;
    /* border: 1.5px solid #CC2DD7; */
  }
  100%
  {
    background-color: #3272F4;
  }


}